
src/StickyDo.Domain/bin
src/StickyDo.Domain/bin*

src/StickyDo.Domain/obj
src/StickyDo.Domain/obj/*

src/StickyDo.Widget/StickyDo.Widget/bin
src/StickyDo.Widget/StickyDo.Widget/bin/*

src/StickyDo.Widget/StickyDo.Widget/obj
src/StickyDo.Widget/StickyDo.Widget/obj/*

/src/StickyDo.Widget/StickyDo.Widget.Controls/obj/*

src/*/.vs/
